In [1]:
import os
import csv
import pandas as pd

In [2]:
Candidates = []
Votes_per_Cand = 0
Percentage_of_Total_Votes = 0

In [3]:
file = 'election_data3.csv'

In [4]:
elec_data = pd.read_csv(file, encoding="ISO-8859-1")
elec_data.head()

   Voter ID County Candidate
0  13025169  Marsh    Correy
1  15608978  Marsh      Khan
2  10806054  Bamoo      Khan
3  10164183  Bamoo      Khan
4  11733886  Marsh      Khan

In [5]:
Total_Votes = elec_data["Voter ID"].count()
Total_Votes

55697

In [6]:
count = elec_data["Candidate"].value_counts()

Votes_per_Cand = Votes_per_Cand + count 
Votes_per_Cand

Khan        35219
Correy      11113
Li           7739
O'Tooley     1626
Name: Candidate, dtype: int64

In [7]:
unique_names = elec_data["Candidate"].unique()
unique_names

array(['Correy', 'Khan', 'Li', "O'Tooley"], dtype=object)

In [8]:
Percentage_of_votes = ((Votes_per_Cand/Total_Votes) * 100)
percentage = Percentage_of_votes.round(1)
percentage

Khan        63.2
Correy      20.0
Li          13.9
O'Tooley     2.9
Name: Candidate, dtype: float64

In [9]:
summary_df = pd.DataFrame({
    "Total Votes": Votes_per_Cand, "Percentage of Total Votes": percentage
})

summary_df

          Total Votes  Percentage of Total Votes
Khan            35219                       63.2
Correy          11113                       20.0
Li               7739                       13.9
O'Tooley         1626                        2.9

In [10]:
#del elec_data['Voter ID']
#del elec_data['County']

In [11]:
max_votes = max(summary_df["Total Votes"])
max_votes

35219

In [12]:
#winner = "Candidate"[Votes_per_Cand.index(max_votes)]
winner = summary_df.loc[summary_df["Total Votes"] == max_votes, ["Percentage of Total Votes"]]
winner

      Percentage of Total Votes
Khan                       63.2

In [13]:
#Results
print("PyPoll Election Results" + "\n")
print("** ** ** ** ** ** **")
print("Total votes: " + str(max_votes)+ "\n")
print(f"Winner is: {winner}" + "\n")
print("Results breakdown: ")
summary_df

PyPoll Election Results

** ** ** ** ** ** **
Total votes: 35219

Winner is:       Percentage of Total Votes
Khan                       63.2

Results breakdown:

          Total Votes  Percentage of Total Votes
Khan            35219                       63.2
Correy          11113                       20.0
Li               7739                       13.9
O'Tooley         1626                        2.9

In [15]:

summary_df.to_csv("PyPoll_output.csv", index=False, header=True)